@font-face {
    font-family: 'Sunday Best [rus by aLiNcE]';
    src: url(../fonts/sundaybestrusbyalince.otf); 
}
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(80px, auto) 1fr minmax(275px, auto) / 1fr;

}

.container
{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}
.header-inner{
    display: grid;
    grid-template: 1fr/ minmax(400px, auto) 1fr minmax(400px, auto);
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}
.header-info{
    display: flex;
    gap: 20px;

    
    
}
.header-info a{
    color: #FDA3C4;
    white-space: nowrap;
    font-size: calc(12 + (16 - 12) * ((100vw - 320px) /(1450 - 320)));
}
.header-address img {
    margin-top: -5px;
    margin-right: 11px;
    
    
}
.header-phone img {
    margin-top: -5px;
    margin-right: 11px;
    
    
}
.logo {
    margin: 0 auto;
}
.header-menu {
    display: grid;
    grid-template-columns: 1fr minmax(20px, auto) minmax(20px, auto);
    grid-auto-flow: column;
    gap: 20px;
    justify-content: flex-end;

    
}
.header-search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-search input {
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.content-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 20px;  
    padding: 0 0 30px; 
}
.content-btns {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.content-btns.active-btn{
    color: #FDA3C4;  
}
.content-gallery {

}
.gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
}
.gallery-item {

}
.gallery-item.item-big {
    grid-column: span 2;
    grid-row: span 2;
}
.content-products{
    padding: 60px 0;
}
.products-title{
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 54px;
    color: #FDA3C4;
    text-transform: uppercase;
}
.products-suptitle{
    font-size: 25px;
    margin: -5px 0;
}
.products-items{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
}
.products_items--container{
    position: relative;
    z-index: 998;
}
.products-item{
    position: relative;
    z-index: 997;
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 998;
}
.products__chose{
    width: 30px;
    height:25px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
}
.products__item-image{
    border-bottom: 2px solid #FDA3C4;
}
.products__item-image img{
    height: 100%;
    width: 100%;
}
.products__item-buy{
    display: flex;
    gap: 15px;
    max-width: 400px;
}
.item__buy-title{
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    max-width: 177px;
    
}
.item__buy-price{
    font-size: 25px;
    white-space: nowrap;
    color: #FDA3C4;
    font-weight: 700;
}
.products-show_button{
    margin: 35px auto;
    width: 213px;
    
}
.products-show__btn{
    font-family: 'Sunday Best [rus by aLiNcE]';
    background-image: url(../img/bg-title.svg);
    background-repeat: no-repeat;
    width: 213px;
    height: 47px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 5px 30px;
}
.baner{
   position: relative; 
   height: 512px;
   margin: 60px 0;
}
.baner img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.store-inner {
    position: relative;
}
.store-title{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #1F1F1F;
    text-align: right;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 54px;
    line-height: 90px;
    
}
.store-image {
    margin: 0 auto;
    max-width: 560px;
}
.store-icon {
    position: absolute;
}

.store-icon.icon-1 {
    top: 0%;
    right: 26%;
}
.store-icon.icon-2 {
    top: 5%;
    right: 17%;

}

.store-icon.icon-3 {
    top: 15%;
    right: 23.5%;
}
.store-icon.icon-4 {
    top: 19%;
    right: 13%;

}
.store-icon.icon-5 {
    top: 30%;
    right: 20%;
}
.store-text{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 220px;
    padding-left: 16px;
    
}
.store-find {
    position: relative;
    padding: 20px 0 60px;
}
.store-find_img {
    position: absolute;
}
.find--image-1 {
    top: 38%;
    left: 17%;
}
.find--image-2 {
    top: 12%;
    left: 25%;
}
.store-find_button {
    max-width: 300px;
    margin: 0 auto;
}
.store-find_button button{
    font-family: 'Sunday Best [rus by aLiNcE]';
    background-image: url(../img/bg-title.svg);
    background-repeat: no-repeat;
    width: 208px;
    height: 47px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
}
.find-map {
    top: -145%;
    right: 10%;
    border-radius: 30px;
}

.goods {
}
.goods-marquee {
    overflow: hidden;
}

.marquee-inner {
    background-color: #FDA3C4;
    padding: 5px 0;
    margin: 20px 0;
}
.marquee-content{
    border-top: 2px solid #F40000;
    border-bottom: 2px solid #F40000;
    padding: 15px 0;
}
.marquee_items {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    text-align: center;
    animation: marquee 11s linear infinite;
    width: 150%;
}
.marquee_item {
    color: #F40000;
    font-size: calc(15px + (25 - 12) * ((100vh - 320px) / (1200 - 320)));
    font-style: normal;
    font-weight: 600;
}
@keyframes 
marquee {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
.goods-inner{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.goods-inner_content.goods--content_left{
    display: grid;
    grid-auto-flow: row;
    gap: 0 15px;

}
.goods_left--items {
    position: relative;
    width: 330px;
}
.goods-chose_button{
    position: absolute;
    right: 0;
}
.goods-left-inner{
    grid-template-rows: repeat(minmax(40px, auto) 1fr  (50px, auto));
    cursor: pointer;
    
}

.left-img {
    object-fit: contain;
    width: 330px;
    height: 260.436px
    
}
.goods-content_text{
    border-top: 2px solid #FDA3C4;
    width: 330px;
    font-size: 18px;
    display: flex;
    gap:10px;
    justify-content: space-between;
    padding: 5px 0;

}
.goods-inner_image--container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content-text_price{
    color: #FDA3C4;
}
.goods-inner_content.inner-right{
    text-align: center;
    width: 380px;

}
.goods--right_items{
    position: relative;
    
}
.right-img{
    height: 507px;
    width: 380px;
    object-fit: contain;
}
.goods-right-inner {
    cursor: pointer;
}
.goods-content_text.right {
    padding: 20px 0;
    border-top: 2px solid #FDA3C4;
    width: 380px;
    font-size: 16px;
    font-weight: 500;
}
.content-text_title {
}

.content-text_price.right {
    font-size: 20px;
    font-weight: 600;
}
.goods-more_button{
    text-align: center;
    margin: 40px 0 0;
}
.goods-more_button button{
    font-family: 'Sunday Best [rus by aLiNcE]';
    background-image: url(../img/vecor-title.svg);
    background-repeat: no-repeat;
    width: 180px;
    height: 47px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    
}

.content-costumes {
    padding: 60px 0;
}
.costumes-inner {
}
.container {
}
.costumes-title {
    color: #FDA3C4;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 54px;
}
.costumes-suptitle {
    color: #1F1F1F;
    font-size: 25px;
    font-weight: 600;
}
.costumes-suptitle img{
    margin: 5px 5px 0;
}
.costumes-image {
}
.costumes__img {
    width: 100%;
}

.content-send {
}
.send-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.send-item {
    display: flex;
    gap: 20px;
}
.send-icon {
}
.send-item_text{
    color: #1F1F1F;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    padding: 10px;
}
.send-title {
    font-size: 25px;
}
.send-suptitle {
    font-size: 16px;

}
.footer {
    background-color:#FDA3C4;
    padding: 60px 0;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer-logo {
}
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}
.footer-info_title {
    color: #F40000;
    font-family: 'Sunday Best [rus by aLiNcE]';
}
.footer_info-link {
    
}
.footer-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}
.footer-address_title {
    color: #F40000;
    font-family: 'Sunday Best [rus by aLiNcE]';

}
.footer-address_link {
}
.footer-socials {

}
.footer-socials_title {
    color: #F40000;
    font-family: 'Sunday Best [rus by aLiNcE]';
}
.footer-socials_link {
    
}
.footer-reviews {
    width: 238px;
    font-size: 12px;
    display: flex;
    gap: 10px;
    
}
.reviews-text {
    color: #FFF;
    font-size: 12px;
}
.reviews-link {
    color: #F40000;
    font-family: 'Sunday Best [rus by aLiNcE]';
    border-bottom: 1px solid #F40000;
}